PANDAS ,MATPLOTLIB

In [9]:
import numpy as np
import pandas as pd

In [11]:
# 1) Import pandas and read in the banklist.csv file into a dataframe called banks.
banks = pd.read_csv("D:/DATA ANALYTICS/pandas/banklist.csv")

In [13]:
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
548,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
549,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
550,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
551,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
552,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

In [27]:
# 2) Show the head of the dataframe.
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [29]:
# 3) What are the column names?
print("Column names:", banks.columns.tolist())

Column names: ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date', 'Updated Date']

In [31]:
# 4) How many States (ST) are represented in this data set?
print("Number of states:", banks['ST'].nunique())

Number of states: 44

In [33]:
# 5) Get a list or array of all the states in the data set.
print("List of states:", banks['ST'].unique())

List of states: ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

In [35]:
# 6) What are the top 5 states with the most failed banks?
print("Top 5 states with most failed banks:")
print(banks['ST'].value_counts().head(5))

Top 5 states with most failed banks:
ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

In [39]:
# 7) What are the top 5 acquiring institutions?
print("Top 5 acquiring institutions:")
print(banks['Acquiring Institution'].value_counts().head(5))

Top 5 acquiring institutions:
Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [15]:
# 8) How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?
sbtx_banks = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
print("\nNumber of banks acquired by State Bank of Texas:", len(sbtx_banks))

sbtx_in_texas = sbtx_banks[sbtx_banks['ST'] == 'TX']
print("Number of those banks that were in Texas:", len(sbtx_in_texas))

Number of banks acquired by State Bank of Texas: 3
Number of those banks that were in Texas: 1

In [17]:
# 9) What is the most common city in California for a bank to fail in?
ca_banks = banks[banks['ST'] == 'CA']
print("\nMost common city in California for a bank to fail in:")
print(ca_banks['City'].value_counts().idxmax())

Most common city in California for a bank to fail in:
Los Angeles